BII_corrected.tif
BII_corrected.tif.ovr
BII_moll.tif
C_reduction_perc.tif
Ecoregions2017.dbf
Ecoregions2017.prj
Ecoregions2017.shp
Ecoregions2017.shx
HFP2009.tif
HFP2009.tif.aux.xml
HFP2009.tif.ovr
HFP2009.tif.xml
README.txt
biomass_corrected.tif
biomass_corrected.tif.ovr
biomass_corrected_moll.tif
biomass_reclass.tif
biomass_reclass.tif.ovr
coastlines.zip
hotspots_revisited_2004_polygons.dbf
hotspots_revisited_2004_polygons.prj
hotspots_revisited_2004_polygons.shp
hotspots_revisited_2004_polygons.shp.xml
hotspots_revisited_2004_polygons.shx
lbii.asc
lbii.asc.aux.xml
lbii.asc.ovr
ne_10m_coastline.README.html
ne_10m_coastline.VERSION.txt
ne_10m_coastline.cpg
ne_10m_coastline.dbf
ne_10m_coastline.prj
ne_10m_coastline.shp
ne_10m_coastline.shx
